[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User={{ gunicorn_user }}
Group={{ gunicorn_group }}
WorkingDirectory={{ gunicorn_project_path }}/{{ gunicorn_project_name }}
ExecStart={{ gunicorn_project_path }}/venv/bin/gunicorn -c "{{ gunicorn_project_path }}/{{ gunicorn_project_name }}/{{ gunicorn_project_name }}/gunicorn_config.py" {{ gunicorn_project_name }}.wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target
