command = "{{ gunicorn_project_path }}/venv/bin/gunicorn"
python_path = "{{ gunicorn_project_path }}/{{ gunicorn_project_name }}"
bind = "0.0.0.0:{{ gunicorn_port }}"
workers = {{ gunicorn_workers_num }}
user = "{{ gunicorn_user }}"
{% if gunicorn_raw_env != "" %}
raw_env = "{{ gunicorn_raw_env }}"
{% endif %}